/*This is for the about page*/

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
}

.aboutText {
  margin: 2rem 3rem;
}

#selfPortrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 10%;
  border-radius: 50%;
  border: 0.3rem solid var(--text-colour);
}

#selfPortrait:hover {
  animation: rotate 3s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}