.blogPostHeading {
  text-align: center;
  font-size: var(--heading-font-size);
  margin: 3.5rem 2rem;
}

article ol li {
  margin: 1.2rem 0;
  line-height: calc(var(--font-size) * var(--line-height-multiplier));
}

article ol, ul {
  padding-left: 2rem;
}

blockquote {
  margin: 1rem 0;
  border-left: 1rem solid var(--blockquote-colour);
  color: var(--blockquote-colour);
  padding-left: 1rem;
  font-style: italic;
  font-size: var(--font-size);
}

pre {
  padding: 2rem;
  font-size: 16px;
  background: var(--code-bg-colour);
}

code {
  font-size: calc(var(--font-size) * 1.1);
  padding: 0 0.5rem;
  background: #efe6dd;
  border-radius: 0.3rem;
}