.blogList {
  text-decoration: none;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  background: var(--code-bg-colour);
}

.blogInfo {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.blogInfo > * {
  margin: 0.5rem 0;
}

.blogImage {
  display: block;
  width: var(--image-width);
  height: var(--image-height);
  border: 0.1rem solid var(--text-colour);
}

.blogListLink {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-colour);
  font-size: var(--heading-font-size);
}

.blogListOL {
  padding: 0
}