.mainHeading {
  margin: 2rem 0;
  font-family: var(--h1-font);
  font-size: var(--h1-font-size);
  letter-spacing: 1rem;
  font-weight: bolder;
  text-transform: capitalize;
}

.mainHeadingLink {
  text-decoration: none;
  color: var(--text-colour);
}

nav {
  margin-bottom: 2rem;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 85rem;
  border-bottom: 0.1rem solid var(--text-colour);
  box-shadow: 0 5px 5px -6px var(--text-colour);
}

nav div ul {
  display: flex;
  flex-direction: row;
  margin: 0 0 0.8rem 0;
  list-style-type: none;
  padding: 0;
}

.navOption {
  padding: 0 2rem;
  font-family: var(--h1-font);
  font-size: calc(var(--font-size) * 1.5);
  font-weight: bolder;
  text-transform: lowercase;
}

.navOptionLink {
  text-decoration: none;
  height: inherit;
  color: var(--link-colour);
}