:root {
  --link-colour: #68bdb4;
  --bg-colour: #fbf9f4;
  --text-colour: #174e53;
  --blockquote-colour: #ed7f53;
  --code-bg-colour: #fac9b9;
  --light-text: #aadad5;

  --h1-font: 'Courier New', sans-serif;
  --body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --code-font: Fira Code, Monaco, Consolas, monospace;

  --heading-font-size: 2.4rem;
  --h1-font-size: 4.8rem;
  --font-size: 1.6rem;
  --line-height-multiplier: 1.7;
}

html {
  font-size: 62.5%;
  font-family: var(--body-font);
  color: var(--text-colour);
  background: var(--bg-colour);
}

main {
  min-height: calc(100vh - 210px);
  max-width: 85rem;
  padding: 0 2rem;
  margin: 2rem auto;
}

body {
  margin: 0;
  overflow-y: scroll;
  font-size: var(--font-size);
}

h1 {
  text-align: center;
  font-size: var(--heading-font-size);
  margin: 3.5rem 2rem;
}

h2 {
  text-align: center;
}

time {
  color: var(--blockquote-colour);
  font-size: var(--font-size);
  align-self: center;
}

a {
  color: var(--link-colour);
}

p {
  line-height: calc(var(--font-size) * var(--line-height-multiplier));
}

article ol li {
  margin: 1.2rem 0;
  line-height: calc(var(--font-size) * var(--line-height-multiplier));
}

article ol, ul {
  padding-left: 2rem;
}

blockquote {
  margin: 1rem 0;
  border-left: 1rem solid var(--blockquote-colour);
  color: var(--blockquote-colour);
  padding-left: 1rem;
  font-style: italic;
  font-size: var(--font-size);
}

pre {
  padding: 2rem;
  font-size: 16px;
  background: var(--code-bg-colour);
}

code {
  font-size: calc(var(--font-size) * 1.1);
  padding: 0 0.5rem;
  background: #efe6dd;
  border-radius: 0.3rem;
}

/*Code to make it responsive*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
  :root {
    --font-size: 1.4rem;
    --line-height-multiplier: 1.5;
    --heading-font-size: 2rem;
    --h1-font-size: 2.3rem;
  }

  nav {
    position: static;
  }

  nav div {
    display: block;
  }

  nav div ul {
    justify-content: center;
    max-width: 100%;
  }
}



