<!DOCTYPE html>
<html lang="en">
{{template "head.partial.gohtml"}}
<body>
{{template "navBar.partial.gohtml"}}
<main>
  <img src="../css/images/selfPortrait.png" alt="Riri"/>
  <p>This is the about page</p>
</main>
{{template "footer.partial.gohtml"}}
</body>
</html>