<!DOCTYPE html>
<html lang="en">
{{template "head.partial.gohtml"}}
<body>
{{template "navBar.partial.gohtml"}}
<main>
    <div class="about">
        <section class="aboutText">
            <p>Hello there 👋, I'm Riya! Welcome to my little digital garden - a diary for my projects, learnings,
                interests,
                musings, and anything else I want to share with the world. </p>
            <p>I'm a Software Engineer 9 to 5, a Coding Teaching Assistant at <a
                        href="https://codeyourfuture.io/" target="_blank" rel=”noopener”>Code Your Future</a> and a
                wannabe dancer.</p>
            <p>Before my career switch into software engineering, I studied Economics at the University of Birmingham
                and
                worked
                in consulting as a Tax Associate dealing with tax fraud.</p>
            <p><a href="https://twitter.com/DattaniRiya" target="_blank" rel=”noopener”>Tweet me</a> if you would like
                to have a chat, I
                would
                love to connect with you!</p>
        </section>
        <img id="selfPortrait" src="../css/images/selfPortrait.png" alt="Riri"/>
    </div>
    <div>
        {{range .Data}}
            <li>
                <div>
                    {{.Text}}
                </div>
            </li>
        {{end}}
    </div>
</main>
{{template "footer.partial.gohtml"}}
</body>
</html>