<!DOCTYPE html>
<html lang="en">
{{template "head.partial.gohtml"}}
<body>
{{template "navBar.partial.gohtml"}}
<main>
  <img src="../css/images/selfPortrait.png" alt="Riri"/>
  <section>
    <p>Hello there 👋, I'm Riya! I am a Software Engineer at <a href="https://iongroup.com/ion-analytics/" target="_blank">ION Analytics</a>, a Coding Teaching
      Assistant at <a href="https://codeyourfuture.io/" target="_blank">Code Your Future</a> and a wannabe dancer.</p>
    <p>Before my career switch into software engineering, I studied Economics at the University of Birmingham and worked
      in Consulting (Tax Disputes department) as a Tax Associate.</p>
    <p><a href="https://twitter.com/DattaniRiya" target="_blank">Tweet me</a> if you would like to have a chat, I would
      love to connect with you!</p>
  </section>
</main>
{{template "footer.partial.gohtml"}}
</body>
</html>