<!DOCTYPE html>
<html lang="en">
{{template "head.partial.gohtml"}}
<body>
{{template "navBar.partial.gohtml"}}
<main>
  <ol class="eventListOL">
      {{range .}}
        <li class="eventList">
          <div class="eventInfo">
            <a class="blogListLink" href={{.Link}} target="_blank">
                {{.Title}}
            </a>
            <time>
                {{.Date.Format "Jan 02, 2006"}}
            </time>
            <ul class="tagList">
                {{range $element := .Tags}}
                  <li class="tag">
                      {{$element}}
                  </li>
                {{end}}
            </ul>
            {{.Description}}
          </div>
        </li>
      {{end}}
  </ol>
</main>
{{template "footer.partial.gohtml"}}
</body>
</html>