<head>
  <meta charset="utf-8">
  <meta name="description" content="Riya Dattani's blog">
  <meta name="keywords" content="Developer, Blog">
  <meta name="author" content="Riya Dattani">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RD's Blog</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>