<!DOCTYPE html>
<html lang="en">
{{template "head.partial.gohtml"}}
<body>
{{template "navBar.partial.gohtml"}}
<main>
  <section>I need to write a little something over here to break it up a little bit.</section>
  <ol>
      {{range .}}
        <li class="blogList">
          <a class="blogListLink" href="/blog/{{.Title}}">
              {{.Title}}
          </a>
          <time>
              {{.Date.Format "Jan 02, 2006"}}
          </time>
        </li>
      {{end}}
  </ol>
</main>
{{template "footer.partial.gohtml"}}
</body>
</html>