<!DOCTYPE html>
<html lang="en">
{{template "head.partial.gohtml"}}
<body>
{{template "navBar.partial.gohtml"}}
<main>
  <h2>Blogs</h2>
  <ol>
      {{range .}}
        <li>
          <a href="/blog/{{.Title}}">
              {{.Title}}
          </a>
        </li>
      {{end}}
  </ol>
</main>
</body>
</html>