<header>
  <nav>
    <h1>Riya Dattani's Blog</h1>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
        {{/*        <li>*/}}
        {{/*  <a href="/blogs">Blogs</a>*/}}
        {{/*        </li>*/}}
    </ul>
  </nav>
</header>