<header>
  <nav>
    <h1 class="mainHeading" ><a class="mainHeadingLink" href="/">Riya Dattani's Blog</a></h1>
    <ul>
      <li class="navOption">
        <a class="navOptionLink" href="/">Home</a>
      </li>
      <li class="navOption">
        <a class="navOptionLink" href="/about">About</a>
      </li>
    </ul>
  </nav>
</header>